<div class="col_12" style="margin-top:100px;">
    <div class="grid">
        <div id="recap" class="col_12">
            <div class="col_4 center">
                <h4><i class="icon-ok"></i> {{player1Wins}} Wins</h4>
            </div>
            <div class="col_4 center">
                <h4><i class="icon-minus"></i> {{ties}} Ties</h4>
            </div>
            <div class="col_4 center">
                <h4><i class="icon-remove"></i> {{player2Wins}} Defeats</h4>
            </div>
        </div>
        <div class="col_12 center">
            {{#won}}
            <div class="notice success"><i class="icon-ok icon-large"></i>You played {{lastPlayer1Gesture}}, AI played {{lastPlayer2Gesture}}. You WON!</div>
            {{/won}}
            {{#lost}}
            <div class="notice error"><i class="icon-ok icon-large"></i>You played {{lastPlayer1Gesture}}, AI played {{lastPlayer2Gesture}}. You LOST!</div>
            {{/lost}}
            {{#tie}}
            <div class="notice warning"><i class="icon-ok icon-large"></i>You played {{lastPlayer1Gesture}}, AI played {{lastPlayer2Gesture}}. It's a TIE</div>
            {{/tie}}
            {{#error}}
            <div class="notice error"><i class="icon-ok icon-large"></i>An error has occured, please try again.</div>
            {{/error}}
        </div>
        <div class="col_12" style="margin-top:50px;">
            <h1 class="center">Rock, Paper or Scissors?</h1>
        </div>
        <div id="gestures" class="col_12 center">
            <button id="rock" class="large"><i class="icon-certificate"></i> Rock</button>
            <button id="paper" class="large"><i class="icon-file"></i> Paper</button>
            <button id="scissors" class="large"><i class="icon-cut"></i> Scissors</button>
        </div>
        <div id="command_button" class="col_12 center" style="margin-top: 50px;">
            <button id="reset" class="large red"><i class="icon-trash"></i> Reset</button>
        </div>
    </div>
</div>